body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #3498db;
    color: #ffffff;
    padding: 30px;
    text-align: center;
    width: 100%;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: x-large;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #3498db;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: large;
}

.submit-button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    font-size: large;
    border: none;
    cursor: pointer;
}

.graph-container img {
    max-width: 100%;
    margin-top: 20px;
}

.data-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-container th, .data-container td {
    border: 1px solid #3498db;
    padding: 10px;
    text-align: left;
}

.data-container th {
    background-color: #3498db;
    color: #ffffff;
}
