<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Prices</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/predictions">Predictions</a>
        <a href="/stock_prices">Stock Prices</a>
        <a href="/news">News</a>
    </nav>
    <div class="prices-container">
        <h2>Enter stock code for stock prices</h2>
        <form action="/stock_prices" method="post">
            <input type="text" name="stock_code" placeholder="Stock Code" required>
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</body>
</html>
