<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/predictions">Predictions</a>
        <a href="/stock_prices">Stock Prices</a>
        <a href="/stock_news">News</a>
    </nav>
    <div class="data-container">
        <h2>Stock Data</h2>
        <table>
            <tbody>
                {% for table in tables %}
                {{titles[loop.index]}}
                {{ table|safe }}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
